@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
@import url(https://fonts.googleapis.com/css?family=Monoton);
@import url(https://fonts.googleapis.com/css?family=Cinzel:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
html {
  height: 95%;
}

body {
  margin: 0;
  padding: 0;
  background: url("img/bolt_bg.svg") repeat-x center center fixed #fff0f0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 14px;
  height: 95%;
}

.error {
  color: #e64d2e;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2em;
  display: none;
}

.form-buttons {
  padding: 12px 20px;
  color: #ffffff;
  background-color: #5064b5;
  border: 1px solid #5064b5;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
}

.form-buttons:hover {
  background-color: #e64d2e;
  border: 1px solid #c5381c;
  color: #ffffff;
}

div#headings {
  display: none;
  text-align: center;
  margin-bottom: 60px;
}

div#headings h1 {
  font-family: "Julius Sans One", "Roboto", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.4em;
}

div#headings h1 span.db_intro {
  color: #e64d2e;
  font-family: 'Cinzel','Monoton','Roboto',Helvetica,Arial,sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  font-weight: 700;
  text-shadow: 0px 2px 1px #5064b5;
}

div#headings p {
  font-size: 1.5em;
  font-weight: 300;
  background-color: #5064b5;
  color: #ffffff;
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 5px;
  border-radius: 30px;
  -webkit-box-shadow: 5px 3px 0 #f8f8f8;
  box-shadow: 5px 3px 0 #f8f8f8;
}

div#headings p .fa-bolt {
  text-shadow: 0px 2px 0px #e64d2e;
}

.fluid-container {
  margin: 0 auto;
  width: Min(1170px, 100%);
  padding: 0 15px;
}

div#main {
  display: none;
  min-height: 95%;
}

div#main div#category-box {
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
  padding: 40px 10px 15px 10px;
  margin-bottom: 40px;
  -webkit-box-shadow: 0 0 5px #bbbbbb;
  box-shadow: 0 0 5px #bbbbbb;
}

div#main div#category-box .categories {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  margin-bottom: 15px;
}

div#main div#category-box .categories li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  margin-right: 10px;
  width: 18%;
}

div#main div#category-box .categories li:last-child {
  margin-right: 0;
}

div#main div#category-box .categories li div.category {
  text-transform: uppercase;
  color: #5064b5;
  cursor: pointer;
  background-color: #f8f8f8;
  border: 1px solid #ededed;
  border-radius: 3px;
  padding: 19px 0 6px 0;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-weight: 300;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-box-shadow: 0 0 2px #ededed;
  box-shadow: 0 0 2px #ededed;
}

div#main div#category-box .categories li div.category:hover {
  background-color: #e64d2e;
  color: #ffffff;
}

div#main div#category-box .categories li div.category:active {
  background-color: #687ccf;
  color: #ffffff;
}

div#main div#category-box .categories li div.selected {
  background-color: #5064b5;
  color: #ffffff;
}

div#main div#category-box .categories li div.selected:hover {
  background-color: #5064b5;
}

div#main div#category-box .category-bottom {
  margin-bottom: 50px;
}

div#main div#category-box form#album_submit button {
  margin-bottom: 15px;
}

div#main div#category-box #album_area #album_box {
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  border-top: 1px solid #a0a0a0;
  padding-top: 25px;
}

div#main div#category-box #album_area #album_box .listen {
  font-size: 1.6em;
  padding-bottom: 20px;
}

div#main div#category-box #album_area #album_box img {
  text-align: center;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 6px;
  margin-bottom: 20px;
}

div#main div#category-box #album_area #album_box h2 {
  font-family: "Julius Sans One", "Cinzel", Helvetica, Arial, sans-serif;
  line-height: 125%;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}

div#main div#category-box #album_area #album_box .blurb {
  font-weight: 300;
  text-align: justify;
  line-height: 175%;
  font-size: 1.2em;
  margin-bottom: 15px;
}

div#main div#category-box #album_area #album_box .btn-default.btn-spotify {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  background-color: #ffffff;
  font-size: 1.2em;
  color: #37bb5d;
  border-color: #2fd565;
  padding-left: 24px;
  padding-right: 24px;
}

div#main div#category-box #album_area #album_box .btn-default.btn-spotify:hover {
  color: #37bb5d;
  background-color: #eefff3;
}

div#main div#category-box #album_area #album_box .btn-default.btn-spotify i.fa {
  font-size: 1.3em;
}

footer {
  text-align: center;
  width: 100%;
  height: 200px;
  display: none;
}

footer .bstar {
  margin-bottom: 40px;
  margin-top: 20px;
}

footer .bstar img {
  width: 90px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
}

footer .bstar img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer .copyright {
  font-size: 0.9em;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  div#main div#category-box #album_area #album_box {
    width: 80%;
  }
}

@media only screen and (max-width: 515px) {
  div#headings p {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  div#headings p {
    width: 70%;
  }
  div#main {
    margin-bottom: 40px;
  }
  div#main div#category-box {
    padding-top: 20px;
    margin: 0 auto;
  }
  div#main div#category-box .categories {
    margin-bottom: 0;
  }
  div#main div#category-box .categories li {
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }
  div#main div#category-box .category-bottom {
    margin-bottom: 40px;
  }
  div#main div#category-box #album_area #album_box {
    width: 80%;
  }
  div#main div#category-box #album_area #album_box img {
    width: 100%;
  }
}

@media only screen and (min-width: 376px) and (max-width: 479px) {
  div#headings h1 {
    font-size: 2em;
  }
  div#headings h1 span.db_intro {
    font-size: 1.7em;
  }
  div#headings p {
    width: 90%;
  }
  div#main {
    margin-bottom: 40px;
  }
  div#main div#category-box {
    padding-top: 20px;
  }
  div#main div#category-box .categories {
    margin-bottom: 0;
  }
  div#main div#category-box .categories li {
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }
  div#main div#category-box .category-bottom {
    margin-bottom: 40px;
  }
  div#main div#category-box #album_area #album_box {
    width: 90%;
  }
  div#main div#category-box #album_area #album_box img {
    width: 100%;
  }
  div#main div#category-box #album_area #album_box h2 {
    font-size: 1.8em;
  }
  div#main div#category-box #album_area #album_box .blurb {
    font-size: 1.2em;
    line-height: 175%;
  }
}

@media only screen and (max-width: 375px) {
  div#headings h1 {
    font-size: 1.6em;
  }
  div#headings h1 span.db_intro {
    font-size: 1.9em;
  }
  div#headings p {
    font-size: 1.2em;
    width: 100%;
  }
  div#main {
    margin-bottom: 30px;
  }
  div#main div#category-box {
    padding-top: 20px;
  }
  div#main div#category-box .categories {
    margin-bottom: 0;
  }
  div#main div#category-box .categories li {
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }
  div#main div#category-box .category-bottom {
    margin-bottom: 30px;
  }
  div#main div#category-box #album_area #album_box {
    width: 100%;
  }
  div#main div#category-box #album_area #album_box img {
    width: 100%;
  }
  div#main div#category-box #album_area #album_box h2 {
    font-size: 1.6em;
  }
  div#main div#category-box #album_area #album_box .blurb {
    font-size: 1.2em;
    line-height: 200%;
  }
}
/*# sourceMappingURL=styles.css.map */